

.header{
  padding: 15px 15px;
}

.search-section.card , .weather-main-view.card{
  width: 100%;
}

.main-view, .error, .not-found{
  text-align: center;
}

.forecast{
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.weather-forecast-day.card{
  margin-top: 5px;
  align-items: center;
  margin: 1em 0 !important;
}
.weather-forecast-day.card>img {
  margin-top: 10px;
}